
<!-- Map Section -->
<div id='osm-map'></div>

<!-- Footer -->
<footer>
	<!--<div class='container text-center'>
	  <a href='https://www.deerstalkers.org.nz/' class='btn btn-default btn-lg'>National Office website</a>
	</div>-->
	<div class=" container">
		<div class="row">
			<div class='col-sm-6'>
				<div class=' text-left'>
                    <a href='/contact-us/'>Contact us</a><br/>
                    <a href='/resources/' target='_blank'>Resources</a><br/>
                
					<a href='https://www.deerstalkers.org.nz/' target='_blank'>National Office website <i class='fa fa-external-link' aria-hidden='true'></i></a><br/>
					<a href='https://www.facebook.com/groups/1195200207197835/' target='_blank'>Leith Valley Rifle Range Facebook Group <i class='fa fa-external-link' aria-hidden='true'></i></a>
                    
				</div>
			</div>
			<div class='col-sm-6'>
				<div class=' text-right'>
					<address>
						<abbr title='New Zealand Deerstalkers Association'>NZDA</abbr> Otago Branch<br/>
						53 Malvern St<br/>
						Woodhaugh<br/>
						Dunedin 9010
					</address>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.2.1.min.js '></script>
<script src='{{ '/assets/vendor/popper.min.js' | relative_url }}'></script>
<script src='{{ '/assets/vendor/bootstrap.min.js' | relative_url }}'></script>

<!-- Plugin JavaScript -->
<script src='{{ '/assets/vendor/jquery.easing.min.js' | relative_url }}'></script>

<!-- interactive map -->
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>

<script src='{{ '/assets/grayscale.js' | relative_url }}'></script>
